
/* Inputs styling */
input[type=text], input[type=email], textarea {
  display: block;
  margin-bottom: 2.5em !important;
  padding: 12px;
  margin: auto;
  width: 55%;
  border: 2px solid black;
}

/*  Position the Labels  */
.l-position{
  margin-right: 680px;
}

.l-position2{
  margin-right: 665px;
}

/* Center Items  */
.center {
  text-align: center;
}

/*  Css for the Icons */
.pics{
  width:10%;
  height:10%;
  margin: 10px 100px;
}